<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indormacion del area de la Salud </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- NAVBAR -->
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>

        <nav>
            <a href="{{ url_for('inicio') }}">Inicio</a>
            <a href="{{ url_for('torneo') }}">Torneos</a>
            <a href="{{ url_for('cultura') }}">Cultura</a>
            <a href="{{ url_for('cuentos') }}">Cambiemos el cuento</a>
            <a href="{{ url_for('musicoterapia') }}">Musicoterapia</a>
             <a href="{{ url_for('cursos') }}">Cursos de ingles</a>
            <a href="{{ url_for('beneficiarios') }}">Beneficiarios</a>
            <a href="{{ url_for('salud') }}">Salud</a>
            <a href="{{ url_for('contacto') }}">Contacto</a>
        </nav>
    </header>
<!-- CUENTO -->
   <section class="cuento">
    <img src="{{ url_for('static', filename='images/cuento1.png') }}" class="img-cuento">

    <div class="texto-cuento">
        <h1>De qué se trata Cambiemos el cuento?</h1>
        <p>No pretende censurar los cuentos tradicionales sino que quiere ocuparse de un tema muy importante: situar la historia de un cuento conocido para tratar un
Fenómeno que, por desgracia, sigue sucediendo en la vida real, como es la violencia contra las mujeres.
</p>
    </div>
</section>

 <!-- NOTICIAS -->
    <section class="noticias">
        <h2>NOTICIAS DESTACADAS</h2>

        <div class="noticias-grid">
            <div class="noticia">
                <img src="{{ url_for('static', filename='images/cuentoescuela.jpg') }}" alt="Noticia 1">
                <div class="info">
                    <h3>15 DE ABRIL</h3>
                    <p>Llega la nueva edición del torneo</p>
                </div>
            </div>

            <div class="noticia">
                <img src="{{ url_for('static', filename='images/cuento4.png') }}" alt="Noticia 2">
                <div class="info">
                    <h3>1 DE ABRIL</h3>
                    <p>Resultados y fotos del torneo 2025</p>
                </div>
            </div>

            <div class="noticia">
                <img src="{{ url_for('static', filename='images/titere.png') }}" alt="Noticia 3">
                <div class="info">
                    <h3>23 DE MARZO</h3>
                    <p>Conoce las reglas del torneo</p>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <div class="social">
            <a href="#">📷</a>
            <a href="#">📘</a>
        </div>
        <p>PARTICIPANTES: Patrocinadores</p>
    </footer>

</body>
</html>